ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(5, 2, 138, 0.89);
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    background-color: grey;
    width: fit-content;
}
.botones {
    margin: 5px;
    border: solid 2px white;
    padding: 5px;
    width: fit-content;
    border-radius: 10px;
    background-color: #131312b7;
}
