nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(160deg, #3d3c3c, rgba(0, 0, 0, 0.582));
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.nav-links ul{
    margin: 0;
    display: flex;
}
.nav-links li {
    list-style: none;
}
.nav-logo {
    display:flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.botones {
    margin: 5px;
    border: solid 2px white;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: #131312b7;
}
.botones:hover{
    background-color: grey;
}
.carrito{
    align-self: center;
}
.logo {
    font-size: 2rem;
    font-weight: 300;
    padding-left: 1.8rem;
    color: #ffffff
}